@import 'utils.mixins';

@mixin padding-start($value, $encapsulation: true) {
  @include property-horizontal-bdir(padding, $value, $encapsulation);
}

@mixin padding-end($value, $encapsulation: true) {
  @include property-horizontal-bdir(padding, $value, $encapsulation, false);
}

@mixin margin-start($value, $encapsulation: true) {
  @include property-horizontal-bdir(margin, $value, $encapsulation);
}

@mixin margin-end($value, $encapsulation: true) {
  @include property-horizontal-bdir(margin, $value, $encapsulation, false);
}

@mixin border-start($value, $encapsulation: true) {
  @include property-horizontal-bdir(border, $value, $encapsulation);
}

@mixin border-end($value, $encapsulation: true) {
  @include property-horizontal-bdir(border, $value, $encapsulation, false);
}

@mixin border-radius($values...) {
  $encapsulation: true;
  $start: true;

  @if (length($values) >= 2) {
    $last: nth($values, length($values));
    $beforeLast: nth($values, length($values) - 1);

    $encapsulation: if(type-of($last) == bool, $last, $encapsulation);

    @if (type-of($beforeLast) == bool) {
      $encapsulation: $beforeLast;
      $start: if(type-of($last) == bool, $last, $start);
    }
  }

  $values: remove($values, true, true);
  $values: remove($values, false, true);
  @include inverse-values-bdir(border-radius, $encapsulation, $start, $values);
}

@mixin border-radius-start($top, $bottom: $top, $encapsulation: true) {
  @include border-radius($top $bottom, $encapsulation);
}

@mixin border-radius-end($top, $bottom: $top, $encapsulation: true) {
  @include border-radius($top $bottom, $encapsulation, false);
}

@mixin float($start: true, $encapsulation: true) {
  @include value-bdir(float, $start, $encapsulation);
}

@mixin dir($start: true, $encapsulation: true) {
  @include value-bdir(direction, $start, $encapsulation);
}

@mixin start($value, $encapsulation: true) {
  @include position-bdir($value, true, $encapsulation);
}

@mixin end($value, $encapsulation: true) {
  @include position-bdir($value, false, $encapsulation);
}

@mixin transformTranslate($x, $y: 0, $encapsulation: true) {
  @include transform-bdir(translate, ($x, $y), $encapsulation);
}

@mixin transformScale($x, $y: 1, $encapsulation: true) {
  @include transform-bdir(scale, ($x, $y), $encapsulation);
}

@mixin transformRotate($deg, $encapsulation: true) {
  @include transform-bdir(rotate, ($deg), $encapsulation);
}

@mixin mirror($encapsulation: true) {
  @include transform-bdir(scale, (1, 1), $encapsulation);
}
